
ul {
  list-style-type: none;
}

.Team-Icon {
  display: block;
  max-width: calc(25px + 3vw);
  width: auto;
  height: auto;
  float: left;
}

.ML-Container {
  background-color: white;
  border-radius: 8px;
  padding: 4px;
  margin-right: 2px;
}

.UL-Container {
  margin-left: 2px;
}

li {
  overflow: hidden;
}

p {
  padding: 0px;
  margin: 0px;
}

div {
  font-size: calc(10px + 0.5vmin);
}

.Team-Subtext {
  font-size: calc(7px + .8vw);
  margin: 0 0 0 6px;
}

.Team-Text {
  font-size: calc(12px + .8vw);
  margin: 0 0 0 6px;
  text-overflow: ellipsis;
}

.Place-Text {
  font-size: calc(16px + .8vw);
  padding: 4px;
  width: calc(25px + .8vw);
}

.Place-Container > .Team-Text {
  width: calc(25px + .8vw);
  margin-left: 12px;
}

.Place-Superscript {
  vertical-align: super;
  font-size: calc(8px + .8vw);
}

.League-Team-Container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  padding: 8px;
}

.League-Team-Container-Hover:hover {
  background-color: #dcdcdc;
  cursor: default;
  transition: .15s ease;
}

.Wager-Text {
  font-size: calc(12px + .6vw);
  font-weight: bold;
}
.Wager-Subtext {
    font-size: calc(8px + .6vw);
}

.Wager-Text-Container {
  flex: 1;
  margin-right: 8px;
}

.Wager-Container {
  background: #add8e6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 2px;
}

.Wager-Button {
  display: flex;
  justify-content: flex-end;
}

.Top-ML-Container {
  font-size: calc(10px + 2vmin);
  margin-bottom: 12px;
}

.Place-Container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.Place-Container p {
  text-align: center;
}

.Place-Gold {
  border-radius: 4px;
  border: 2px solid #FFD700;
  background-color: #FFD700;
}

td.points-25 {
  background-color: #FFD700;
}

td.points-20 {
  background-color: #BEC2CB;
}

td.points-15 {
  background-color: #CD7F32;
}

.Place-Silver {
  border-radius: 4px;
  border: 2px solid #BEC2CB;
  background-color: #BEC2CB;
}

.Place-Bronze {
  border-radius: 4px;
  border: 2px solid #CD7F32;
  background-color: #CD7F32;
}

.Icon-Container {
  float: right;
  padding: 8px;
  border-radius: 16px;
  line-height: 0px;
}

.Icon-Container:hover{
  background-color: #dcdcdc;
  transition: 0.15s ease;
}

.ReactModal__Content p {
  margin-top: 4px;
  margin-bottom: 8px;
}

.ReactModal__Content select {
  margin-bottom: 12px;
  text-overflow: ellipsis;
  width: 200px;
}

.ReactModal__Content input {
  margin-bottom: 12px;
  width: 200px;
  text-overflow: ellipsis;
}

.ReactModal__Content {
  padding: 8px;
}

.Performance-Col {
  padding: 4px 4px 4px 4px;
  margin-left: 11px;
}

h4 {
  margin-bottom: 8px;
}

tr.User-Favorite {
  background-color: #add8e6;
}

h3 {
  text-align: center;
  font-size: calc(10px + 1vw);
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

table {
  display: block;
  overflow: auto;
}

th {
  text-align: center;
}

th:first-child {
  text-align: left;
}

td {
  text-align: center;
}

td:first-child {
  text-align: left;
}

.Fav-Text {
  margin: 0 0 0 14px;
  font-size: calc(9px + .8vw);
}

.Alert-Text-Item {
  margin: 1px 0 1px 0;
}

.Wager-View-Container {
  margin-bottom: 12px;
}

.Wager-View-Container h3 {
  margin: 12px 0 0 0;
}

.User-Container > button {
  display: inline-block;
  margin-right: 12px;
}
