
ul {
  list-style-type: none;
}

.Team-Icon {
  display: block;
  max-width: 65px;
  width: auto;
  height: auto;
  float: left;
}

.ML-Container {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin-right: 16px;
}

li {
  overflow: hidden;
  margin: 12px;
}

.Team-Name {
  font-size: 24px;
}

p {
  padding: 0px;
  margin: 0px;
}

.ML-Hashtag {
  font-size: 16px;
}

.Team-Text {
  margin: 0 0 0 12px;
}

.League-Team-Container {
  display: flex;
  align-items: center;
  background-color: white;
}

.WagerText {
  font-size: 16px;
}
